<!DOCTYPE html>
<html>
	<head lang=en>
		<meta charset="utf-8" />
		<title>
			Monga
			{% block title_block %}
			{% endblock title_block %}
		</title>
	</head>

	<body>
		<div>
			<ul>

				{% if user.is_authenticated %}

					<li> <a href="{% url 'profile' request.user.email %}"> Profile </a> </li>
					<li> <a href="{% url 'logout' %}"> Logout </a> </li>
				{% else %}
					<li> <a href="{% url 'register' %}"> Sign up </a> </li>
					<li> <a href="{% url 'login' %}"> Login </a> </li>
				{% endif %}
			</ul>
		</div>
		<hr />

		<!-- body block  -->
		<!-- substitute this block as you need per page -->

		<hr />
		<!-- body block ends -->


	</body>
</html>
