<h2> Create Acount</h2>
<form method="post">
    {% csrf_token%}
     {% if error_message %}

    <small style="color:red"> {{error_message }}</small>
     <br>
    <br>
    {% endif %}

    {% for field in user_form %}
    <p>
        {% if field.errors %}
            {{field.errors }}
         {% endif %}
        {{ field.label_tag}}
        {{ field}}
        {% if field.help_text %}
            {{field.help_text }}


        {% endif %}

    </p>
    {% endfor%}
   <button type="submit"> Sign up</button>
</form>
