<h1>
        welcome to zad app

</h1>


    {% for post in posts %}

<h1> <a href ="{% url 'zad:post_details' pk=post.id%}">{{ post.AD.Ad_title}}</a> </h1>
<  h3> vote = {{post.vote}}</h3>

         {% for comment in post.comments.all %}
<br>


          {{ comment.comment_text}}

         {% endfor %}

         <form action="{% url 'zad:Add_comment' pk=post.id %}" >
             <button type="submit"  onclick="">comment</button></h3>
         </form>


            <br>
            <br>

    {% endfor %}


    <ul>
    <li> <a href="{% url 'zad:Add_new_AD' %}"> add new AD </a> </li>
        <li> <a href="{% url 'zad:Add_post' %}"> add post </a> </li>
         <li> <a href="{% url 'zad:ContactUs' %}"> contact us </a> </li>

        <li> <a href="{% url 'zad:MyAd' %}"> show my ads </a> </li>
    </ul>
